* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: Verdana, sans-serif;
}

.card,
.card-pizza {
  margin: 20px auto;
  width: 800px;
  background-color: #fff;
  text-align: center;
}

.card {
  height: 150px;
}

.card-pizza {
  height: auto;
}

.content {
  width: 700px;
  margin: 0 auto;
  line-height: 25px;
  margin-bottom: 10px;
}

.title {
  padding: 20px;
}

li {
  list-style: none;
}

ol li {
  margin-bottom: 10px;
}

.list li {
  display: inline;
  margin-right: 20px;
}
